body {
  background-image: url(degradé.jpeg);
  background-color: ;
  background-size: cover;
}

.imagesheader{
  background-image: url(banner-904884_1920.jpg);
  background-size: cover;

}

/**h1.texthead{

  border-top: 3px solid black;

}**/

.texthead {
text-shadow: 3px 3px 1px black;
color: #124559;
text-align: center;
font-family: 'Paytone One', sans-serif;
font-size: 3rem;
margin: 0;
}

.texthead2 {
text-shadow: 3px 3px 1px black;
text-align: center;
font-family: 'Fugaz One', cursive;
font-size: 2.8rem;
color: #598392;
margin: 0;
}


nav.navbar.navbar-dark.bd-dark{

  border-width:3px;
  border-style:solid;
  border-color:black;
  /background-color: #e3f2fd;

}


div.dropdown-menu.show {
background-color: #e3f2fd;

}


div.dropdown-menu.show a{
  font-family: 'Fugaz One', cursive;
  display:inline-block;

	text-decoration: none;
  font-size: 20px;
  color: #003c61;

}


div.about.moi{
  margin-top: 250px;

}

.moi {
  background-color: #003c61;
  box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  border-width:3px;
  border-style:solid;
  border-color:black;

}

.moi p {
  color: #00fcf9;
  font-family: 'Short Stack', cursive
}

div.card-body {

  background-color: #003c61;
  border-width:3px;
  border-bottom: solid;
  border-color:black;
  /* margin-left: 20px; */
}

div.card-body p {
  color: #00fcf9;
  font-family: 'Short Stack', cursive;
}

.yacine {
  box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  border-width:3px;
  border-style:solid;
  border-color:black;
  background-color: #e3f2fd;
}

.div1 {
  background-color: #39a0ed;
}

div.card-header {
  border-width:3px;
  border-bottom: solid;
  border-color:black;
  background-color: #e3f2fd;
  color : #007bfe;

  margin-bottom:;
  /* margin-left: 20px; */
  display:inline-block;
  /* padding-right:110px; */
}
div.card-header h3{
 color: #003c61;
 font-family: 'Fugaz One', cursive;
 font-size: 50px;

}
div.card.yacine{
 margin-top: 40px;
}
