body{
  background-image: url();
  background-color: ;
  background-size: cover;
}

.menu1{
 width:100%;
 height:50x;
 text-align: center;
 border-width:3px;
 border-style:solid;
 border-color:black;
}


.compétences{
  width:40%;
  height:700px;
  text-align: center;
  border-width:3px;
  border-style:solid;
  border-color:black;
  background:#5b99bb;

}


nav.navbar.navbar-light{
  border-width:3px;
  border-style:solid;
  border-color:black;
  background-color: #e3f2fd;

}

ul #menuHorizontal1 li{
  padding:20px 30px;
  display: inline;
  padding : 0 0.5;
  list-style-type : none;
}
#menuHorizontal1{
  width:960px;
	margin:0 auto;
	padding:5px 0;
	text-align:center;
}
#menuHorizontal1 li{
  display: inline;
}
#menuHorizontal1 a{
  font-family: sans-serif;
  display:inline-block;
	margin-left:5px;
	padding: 5px 10px;
	text-decoration: none;
}
#menuHorizontal1 a:hover , #menuHorizontal1 a:focus{
  background:#fff;
  text-decoration: inherit;
}

div.card-body {

  background-color: #e3f2fd;
  border-width:3px;
  border-style:solid;
  border-color:black;
  /* margin-left: 20px; */
}


.yacine {
  margin-top: 1rem;
}

p.card-text, h5.card-title {
   color: #55596d;
}



div.card-header {
  border-width:3px;
  border-style:solid;
  border-color:black;
  background-color: #e3f2fd;
  color : #007bfe;

  margin-bottom:10px;
  /* margin-left: 20px; */
  display:inline-block;
  /* padding-right:110px; */
}
