body {
  background-image: url();
  background-color: #d8fcd4;

}

.imagesheader{
  background-image: url(pexels-photo-373076.jpeg);
  background-size: cover;

}

/**h1.texthead{

  border-top: 3px solid black;

}**/

.texthead {
text-shadow: 2px 2px 1px black;
color: #124559;
text-align: center;
font-family: 'Paytone One', sans-serif;
font-size: 3rem;
margin: 0;
}

.texthead2 {
text-shadow: 3px 3px 1px black;
text-align: center;
font-family: 'Fugaz One', cursive;
font-size: 2.8rem;
color: #598392;
margin: 0;
}


nav.navbar.navbar-dark.bd-dark{

  border-width:3px;
  border-style:solid;
  border-color:black;
  /background-color: #e3f2fd;

}


div.dropdown-menu.show {
background-color: #e3f2fd;

}

nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 25px;


}
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark a {
font-family: 'Fugaz One', cursive;
color: #c6d4ff;
}


div.about.moi{
  margin-top: 240px;

}

.moi {
  background-color: #343a40;
  box-shadow: 2px 4px 6px 3px rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
  border-width:3px;
  border-style:solid;
  border-color:black;

}
.moi p {
  color: #d8fcd4;
}



div.card-body {

  background-color: #343a40;
  border-width:3px;
  border-bottom: solid;
  border-color:black;
  /* margin-left: 20px; */
}

div.card-body p {
  color: #d8fcd4;
  font-family: 'Short Stack', cursive;
}

.yacine{

  margin-top: 1rem;
  border-width:3px;
  border-style:solid;
  border-color:black;
  background-color: #e3f2fd;

}

div.card-header {
  border-width:3px;
  border-bottom: solid;
  border-color:black;
  background-color: #e3f2fd;
  color : #007bfe;

}

div.card-header h3{
 color: #343a40;
 font-family: 'Fugaz One', cursive;
 font-size: 50px;

}
div.card.yacine{
 ;
}

li.nav-item:hover {
  background-color: #003c61;

}

#acceuil:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#apropos:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#compétences:target {
  padding-top: 5em;
  padding-bottom: 5rem;
}
#expériences:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#formations:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#divers:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#interet:target {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contactbar {
  border-top: 3px solid black;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}
i.fas.fa-mobile {
  font-size: 7rem;
}
i.fas.fa-envelope {
  font-size: 7rem;
}
i.fab.fa-github-square {
  font-size: 7rem;
}
.footer {
 text-align: center;
}
.footer p {

}
